@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: clamp(0.78rem, 0.517647vi + 0.65rem, 1rem);
		line-height: calc(2px + 2ex + 2px);
	}

	/* Styling the selection color */
	*::-moz-selection {
		background: hsl(var(--primary) / 0.5);
		color: hsl(var(--foreground));
	}

	*::selection {
		background: hsl(var(--primary) / 0.5);
		color: hsl(var(--foreground));
	}

	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 48 96% 53%;
		--primary-foreground: var(--foreground);

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 72% 51%;
		--destructive-foreground: 0 75% 15%;

		--warning: 25 95% 53%;
		--warning-foreground: 13 81% 15%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		/* COMPONENT VARIABLES */
		--headerHeight: 5rem;
		--leftSidebarWidth: min(33rem, calc(100vw - 3rem));
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 48 96% 53%;
		--primary-foreground: var(--background);

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 72% 51%;
		--destructive-foreground: 0 86% 97%;

		--warning: 25 95% 53%;
		--warning-foreground: 33 100% 96%;

		--ring: var(--primary);
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.focusable {
		@apply focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
		@apply focus-within:border-border focus-visible:bg-background focus-visible:text-foreground;
		@apply focus-visible:rounded focus-visible:ring-offset-4 focus-visible:ring-offset-background;
	}
}
